
.filter{
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: flex-end;
}
.filter_students{
    display: flex;
    justify-content: flex-start;
    padding: 20px 5%;
    align-items: flex-end;
}
.filter form:first-child{
    flex: 50%;
}
.filter input,
.filter_students input{
    margin-right: 5px;
    padding: 12px;
    border: none;
    border: 1px solid #dddddd;
}
.filter button,
.filter_students button{
    background: darkcyan;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}
.filter form:last-child{
    flex: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.filter label{
    padding-right: 10px;
}
.payments_effected{
    padding: 0 5%;
}
.payments_effected h1{
    padding: 10px 0;
    font-size: 1.3rem;
}
.filter input[type='text'],
.filter_students input[type='text']{
    min-width: 50%;
}

/* SearchPage.css */
.student-table {
    width: 35%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    /* text-align: center; */
  }
  
  .student-table th, .student-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  
  }
  
  .student-table th {
    background-color: #f2f2f2;
  }
  
  .student-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .student-table tr:hover {
    background-color: #e0e0e0;
  }
  
  .student-table a {
    text-decoration: none;
    color: #3498db;
  }
  